
body {
    background-color: #a3d5d3;
  }
  
  h1 {
    text-align:center;
    font-family: arial sans-serif;
    color: white;
  }
  .about-me {           
    background-color: #ffcccc;
    padding: 100px;
    border-radius: 80px;
  }
