
body {
    background-color: #a3d5d3;
  }
  /*img{
      width: 100%;
      margin-left: 300px:
  }/*
  /* Styles ALL h1s on your webpage*/
  
  h1 {
    text-align:center;
    font-family: arial sans-serif;
    color: white;
  }
  .about-me {           
    background-color: #ffcccc;
    padding: 100px;
    border-radius: 80px;
      <!--det rosa-->
  }
