
body {
    background-color: #a3d5d3;
  }
  
  h1 {
    text-align:center;
    font-family: arial sans-serif;
    color: white;
  }
  .ul { 
    color: white;
  }
 
  .about-me {           
    background-color: #ffcccc;
    padding: 80px;
    border-radius: 90px;
    width: 1040px;
  }
